.para{
    margin: 20px auto;
    width: 80% ;
    text-align: justify;
    line-height: 30px;
    font-size: large;
    
}

.subhead{
    text-decoration: underline white;
   
    
}

.about{
    text-align: center;
    text-decoration: underline white;
}




@media only screen and (max-width: 600px) {
    .para {
        width: 100%;
    }
  }