.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: center;
    line-height: 30px;
    font-size: large;
    
}

.main:hover{
    width: 70%;
}


.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
  

}





.bloglist{
    margin-bottom: 50px;
    border : 2px solid white;
    border-radius: 5px;

}

.bloglist>h1{
    text-align: center;
}

.bloglist:hover{
    box-shadow: 1px 1px 4px 4px;
    cursor:pointer;
    
}


@media only screen and (max-width: 600px) {
    .main {
      width: 100%;
    }

    .main:hover{
        width: 100%;
    }
  }
  